<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Welcome, ${firstname}😃!</title>
  </head>
  <style>
    * {
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
    }
    .card {
      /* background-color: #3d3d3d10; */
      background-color: #fcfcfc;
      width: 500px;
      /* border: 1px solid red; */
      padding: 1rem;
      border-radius: 4px;
      filter: drop-shadow(20px 40px 160px #3d3d3d20);
    }
  </style>
  <body>
    <section
      style="
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
      "
    >
      <div class="card">
        <div style="display: flex; justify-content: center">
          <img
            src="https://krachi-web.herokuapp.com/img/full_logo.png"
            alt="Krachi Logo"
            style="display: block; margin-bottom: 2rem"
          />
        </div>
        <div style="display: block; margin-bottom: 2rem">
          <span>some plenty welcoming text here</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            enim quidem cum beatae dolorem? Quae dignissimos, aperiam dolores
            repudiandae obcaecati repellat, dolor animi hic esse harum
            voluptatum ipsam accusantium placeat?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem
            accusantium laudantium, necessitatibus assumenda soluta officiis.
            Aspernatur exercitationem cum nesciunt? Consequuntur magni hic
            corporis reprehenderit, consectetur et. Est, nihil cum!
          </p>
        </div>
        <span>Some stuff here</span>
      </div>
    </section>
  </body>
</html>
